@model AltaPaisModel

@{
    ViewBag.Title = "Alta Pais";
}
<form action="/Empleado/AltaPais" method="post">

    <div class="form-group" id="fondo">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", type = "text" })
    </div>

    <div class="container-fluid d-flex align-items-center">
        <button type="submit" class="btn btn-primary" style="margin:0.5em;">Procesar</button>
        <a asp-area="" asp-controller="Pais" asp-action="ListarPaises" class="btn btn-danger" style="margin:0.5em;">Cancelar</a>
    </div>

</form>