@{
    ViewBag.Title = "Nomina";
}

<h2 class=" text-center my-4">Nómina</h2>

<div class="container" id="panel-card">
    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Nomina" asp-action="DetalleEmpleado">
                <img src="~/user-tie-solid.svg" style="width: 50px;">
                <p>Consultar un Empleado</p>
            </a>
        </div>
    </div>

    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Nomina" asp-action="Index">
                <img src="~/flag-solid.svg" style="width: 50px;">
                <p>Consultar Nóminas por País</p>
            </a>
        </div>
    </div>

    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Nomina" asp-action="Index">
                <img src="~/building-solid.svg" style="width: 50px;">
                <p>Consultar Nóminas por Departamento</p>
            </a>
        </div>
    </div>

    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Nomina" asp-action="Index">
                <img src="~/clock-solid.svg" style="width: 50px;">
                <p>Consultar Nóminas por Antigüedad</p>
            </a>
        </div>
    </div>

</div>