<h2 class="text-center my-4">Nómina</h2>

<div class="d-flex flex-column align-items-center">
    <a asp-area="" asp-controller="Nomina" asp-action="DetalleEmpleado" class="d-flex flex-column align-items-center mb-3 text-decoration-none" style="color:black">
        <img src="~/user-tie-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Consultar un Empleado</p>
    </a>
    <a asp-area="" asp-controller="Nomina" asp-action="Index" class="d-flex flex-column align-items-center mb-3 text-decoration-none" style="color:black">
        <img src="~/flag-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Consultar Nóminas por País</p>
    </a>
    <a asp-area="" asp-controller="Nomina" asp-action="Index" class="d-flex flex-column align-items-center mb-3 text-decoration-none" style="color:black">
        <img src="~/building-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Consultar Nóminas por Departamento</p>
    </a>
    <a asp-area="" asp-controller="Nomina" asp-action="Index" class="d-flex flex-column align-items-center mb-3 text-decoration-none" style="color:black">
        <img src="~/clock-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Consultar Nóminas por Antigüedad</p>
    </a>
</div>