@model AltaGeneroModel

<form action="/Empleado/AltaGenero" method="post">

    <div class="form-group" id="fondo">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", type = "text" })
    </div>

    <div class="container-fluid d-flex align-items-center">
        <button type="submit" class="btn btn-primary" style="margin:0.5em;">Procesar</button>
        <a asp-area="" asp-controller="Genero" asp-action="ListarGeneros" class="btn btn-danger" style="margin:0.5em;">Cancelar</a>
    </div>

</form>
