<h2 class="text-center my-4">Gestor RRHH</h2>

<div class="d-flex flex-column align-items-center">
    <a asp-area="" asp-controller="Empleado" asp-action="Index" class="d-flex flex-column align-items-center mb-3 text-decoration-none">
        <img src="~/id-card-regular.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Empleados</p>
    </a>
    <a asp-area="" asp-controller="Empleado" asp-action="Details" class="d-flex flex-column align-items-center text-decoration-none">
        <img src="~/bars-staggered-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Nómina</p>
    </a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}