@{
    ViewBag.Title = "Home";
}

<h2 class="text-center my-4">Gestor de Recursos Humanos</h2>

<div class="container" id="gralindex">
    <div class="row" id="panel">
        <div class="col" id="paneliz">
            <h4>Gestor de recursos humanos</h4>
            <p>Administra tus empleados</p>
        </div>
        <div class="col" id="panelder">
            <a asp-area="" asp-controller="Empleado" asp-action="Index" class="">
                <img src="~/id-card-regular.svg" class="mb-2" style="width: 50px;">
                <p>Empleados</p>
            </a>
            <a asp-area="" asp-controller="Nomina" asp-action="Index">
                <img src="~/bars-staggered-solid.svg" style="width: 50px;">
                <p>Nómina</p>
            </a>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}