@model AltaGeneroModel

<form action="/Empleado/AltaGenero" method="post">

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", type = "text" })
    </div>

    <button type="submit" class="btn btn-primary">Procesar</button>

</form>