<h2 class="text-center my-4">Gestor de Recursos Humanos</h2>

<div class="container" id="panel-card">
    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Empleado" asp-action="Details">
                <img src="~/users-solid.svg" style="width: 50px;">
                <p>Empleados</p>
            </a>
        </div>
    </div>

    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Genero" asp-action="ListarGeneros">
                <img src="~/venus-mars-solid.svg" style="width: 50px;">
                <p>Géneros</p>
            </a>
        </div>
    </div>

    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Pais" asp-action="ListarPaises">
                <img src="~/flag-solid.svg" style="width: 50px;">
                <p>Países</p>
            </a>
        </div>
    </div>

    <div class="row" id="card-row">
        <div class="col" id="card-col">
            <a asp-area="" asp-controller="Departamento" asp-action="ListarDepartamentos">
                <img src="~/building-solid.svg" style="width: 50px;">
                <p>Departamentos</p>
            </a>
        </div>
    </div>

</div>
