<h2 class="text-center my-4">Gestor RRHH</h2>

<div class="d-flex flex-column align-items-center">
    <a asp-area="" asp-controller="Empleado" asp-action="Details" class="d-flex flex-column align-items-center mb-3 text-decoration-none" style="color:black">
        <img src="~/users-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Empleados</p>
    </a>
    <a asp-area="" asp-controller="Genero" asp-action="ListarGeneros" class="d-flex flex-column align-items-center text-decoration-none" style="color:black">
        <img src="~/venus-mars-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Géneros</p>
    </a>
    <a asp-area="" asp-controller="Pais" asp-action="ListarPaises" class="d-flex flex-column align-items-center text-decoration-none" style="color:black">
        <img src="~/flag-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Países</p>
    </a>
    <a asp-area="" asp-controller="Departamento" asp-action="ListarDepartamentos" class="d-flex flex-column align-items-center text-decoration-none" style="color:black">
        <img src="~/building-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Departamentos</p>
    </a>
</div>
