<h2 class="text-center my-4">Gestor RRHH</h2>

<div class="d-flex flex-column align-items-center">
    <a asp-area="" asp-controller="Empleado" asp-action="Details" class="d-flex flex-column align-items-center mb-3 text-decoration-none">
        <img src="~/users-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Listado Completo</p>
    </a>
    <a asp-area="" asp-controller="Empleado" asp-action="CrearEmpleado" class="d-flex flex-column align-items-center text-decoration-none">
        <img src="~/user-plus-solid.svg" class="mb-2" style="width: 50px;">
        <p class="m-0 font-weight-medium" style="font-family: 'Roboto', sans-serif; font-size: 1.1rem;">Dar de Alta</p>
    </a>
</div>
