@model List<Front.Models.PaisModel>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

@if (TempData["StackTrace"] != null)
{
    <div class="alert alert-warning">
        @TempData["StackTrace"]
    </div>
}

<div class="container-fluid d-flex justify-content-end">
    <a asp-area="" asp-controller="Empleado" asp-action="AltaPais" class="bg-dark rounded d-inline-flex justify-content-around align-items-center w-25" style="color:white;text-decoration:none;">
        <img src="~/plus-solid.svg" class="m-1" style="max-width: 1.5em;">  <p class="m-1">Dar de Alta</p>
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pais in Model)
        {
            <tr>
                <td>@pais.IdPais</td>
                <td>@pais.Descripcion</td>
            </tr>
        }
    </tbody>
</table>